

<!-- script for adding active class -->
<script src="js/active.js"></script>
  <!-- Footer -->
<footer class="page-footer footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3>CollegeGyan</h3>
        <p style="width: 60%;">Your one-stop platform for faster, clearer and clutter free access to all the gyaan required during college life</p>

      </div>  
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Forum</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/forum">Visit Forum</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
          <li>
            <a href="/login">Sign In</a>
          </li>
          <li>
            <a href="/askAQues">Ask a question</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Statistics</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/internship">Internship</a>
          </li>
          <li>
            <a href="/placement">Placement</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a>Hello World</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>
