<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="css/bootstrap-btn.css"> -->

</head>

<body>

  <nav style="font-size: 1.2rem; padding:2rem 3rem"class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CollegeGyaan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/internship">Internship Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/placement">Placement Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">
            <div style="position: relative; left: 55rem;">
              <i class="fa fa-user-o" style="font-size:40px;color:white"></i>
            </div>
          </a>
        </li>
        <!-- <li class="nav-item" >
          <a class="nav-link" href="#">
            <div style="margin-left: 52rem;">
              <i class="fa fa-rss" style="font-size:40px;color:white"></i>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <div style="margin-left:2rem;">
              <i class="fa fa-plus" style="font-size:40px;color:white"></i>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
<!-- 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        CollegeGyaan
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <div style="margin-left: 60px;">
                <i class="fa fa-user-o" style="font-size:40px;color:white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#">
              <div style="margin-left: 60px;">
                <i class="fa fa-rss" style="font-size:40px;color:white"></i>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="AskAQues">
              <div style="margin-left: 60px;">
                <i class="fa fa-plus" style="font-size:40px;color:white"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav> -->
