<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Sorry you are blocked by ADMIN</h1>
 </div>
</div>

<%- include('partials/footer') %>
