<%- include('partials/header') %>


<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Admin can't be blocked !!! </h1>
 </div>
</div>


<%- include('partials/footer') %>
