<%- include('../partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hello World Admin Pannel </h1>

        <hr>
        <a class="btn btn-light btn-lg" href="/List-of-users" role="button">List of Users</a>
        <a class="btn btn-light btn-lg" href="/register" role="button">Add new Users</a>
      </div>
    </div>

<%- include('../partials/footer') %>
