<%- include('../partials/header') %>
<main>
    <section>
        <div class="row-1">
            <div class="text-block">
                <h1 class="main-title">Welcome to {name}</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                
            </div>
  
            <div class="image-block">
              <img class = "img-1" src="./assets/dtuimg.jpg" alt="">
              <img class = "img-2" src="./assets/dtuimg.jpg" alt="">
              <img class = "img-3" src="./assets/dtuimg.jpg" alt="">
            </div>
        </div> 
        
        <hr class="dotted-hr">

        <div class="row-2">
            <div class="image-block">
                <img src="./assets/dtuimg.jpg" alt="">
              </div>
            <div class="text-block">
                <h1 class="main-title">We provide a forum!</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <h4 style="font-size: 1.7rem; padding-top: 1rem;"> Sign In/Up to access the forum</h4>
                <button class="forum-cta btn btn-lg btn-primary">Register</button>
                <button class="forum-cta btn btn-lg btn-primary">Log In</button>
            </div>
        </div>

        <hr class="dotted-hr">

        <div class="row-2">
            <div class="text-block">
                <h1 class="main-title">We provide statistics!</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>
                    Please chose city and college:  
                </p>
                <div class="sel-row">
                    <div class="sel-1">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi</option>
                            <option value="gamer" disabled>Noida</option>
                            <option value="developer" disabled>Gurgaon</option>
                            <option value="programmer" disabled>Mumbai</option>
                          </select>
                    </div>

                    <div class="sel-2">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi Technological University (DTU)</option>
                            <option value="gamer" disabled>Netaji Subhas University of Technology (NSUT)</option>
                          </select>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Go</button>
                  </div>
            </div>
            <div class="image-block">
                <img src="./assets/dtuimg.jpg" alt="">
            </div>
            
        </div>
    </section>



</main>

<%- include('../partials/footer') %>