<%- include('../partials/header') %>
<main>
    <section>
      <!-- <div class="bg-img">
      </div> -->
        <div class="row-1">
            <div class="text-block">
                <h1 class="main-title">Welcome to CollegeGyaan</h1>
                <p style="color: rebeccapurple; font-size: 1.5rem; width: 70%;">Your one-stop platform for faster, clearer and clutter free access to all the gyaan required during college life.</p>
                <a href="register">
                    <button class="forum-cta btn btn-lg btn-dark">Register</button>
                </a>
                <a href="login">
                    <button class="forum-cta btn btn-lg btn-dark" >Log In </button>
                </a>
            </div>

            <div class="image-block">
            <img style="width: 65%;"class ="bg-img" src="./assets/collegestudents.png" alt="">
              <!-- <img class = "img-1" src="./assets/nsut.jpg" alt="">
              <img class = "img-2" src="./assets/dtuimg.jpg" alt="">
              <img class = "img-3" src="./assets/iiitd.jpeg" alt=""> -->
            </div>
        </div>
    


        <div class="row-2">
            <div class="image-block">
                <img src="./assets/discussion.png" alt="">
              </div>
            <div class="text-block">
                <h1 class="main-title">Discussion forum</h1>
                <p style="color: floralwhite; font-size: 1.4rem;">Are u a fresher? Ask a doubt from your seniors or scroll through many previously answered ones.  <br>
                  Seniors, it's time to  back, share the gyaan you got from your seniors. <br>
                  Get an idea about real corporate world environment and ask for referrals! <br>
                </p>
                <p style="color: rgb(192, 189, 189); font-size: 1.6rem;"> Sign In or Register to access the forum</p>
                
            </div>
        </div>



        <div class="row-1">
            <div class="text-block">
                <h1 class="main-title">Placement and internship statistics</h1>
                <p style="color: rebeccapurple; font-size: 1.4rem;">Have a doubt about the actual placements scenario? <br> Hush! here is some inside information available.</p>
                <p style="color: rgb(29, 29, 29); font-size: 1.6rem;">
                    Please choose city and college:
                </p>
                <div class="sel-row">
                    <div class="sel-1">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi</option>
                            <option value="gamer" disabled>Noida</option>
                            <option value="developer" disabled>Gurgaon</option>
                            <option value="programmer" disabled>Mumbai</option>
                          </select>
                    </div>

                    <div class="sel-2">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi Technological University (DTU)</option>
                            <option value="gamer" disabled>Netaji Subhas University of Technology (NSUT)</option>
                          </select>
                    </div>
                </div>
                 
                <a href="/placement"> <button type="button" class="placement-btn btn btn-dark btn-lg ">Placement <i class="fa fa-child"></i></button></a>
                  <a href="/internship"> <button type="button" class="internship-btn btn btn-dark btn-lg">Internship <i class="fa fa-child"></i></button></a>
                 

            </div>
            <div class="image-block">
                <img src="./assets/stats.jpeg" alt="">
            </div>

        </div>
    </section>



</main>

<%- include('../partials/footer') %>
