<%- include('../partials/header') %>
<main>
    <section>
      <div style="background-image: url('./assets/bgimg.jpg');
      background-size: cover; height:480px; padding-top:80px;">

        <div class="row-1">
            <div class="text-block">
                <h1 class="main-title">Welcome to CollegeGyaan</h1>
                <p>Your one-stop platform for faster, clearer and clutter free access to all the gyaan required during college life.</p>


            </div>

            <div class="image-block">
              <img class = "img-1" src="./assets/nsut.jpg" alt="">
              <img class = "img-2" src="./assets/dtuimg.jpg" alt="">
              <img class = "img-3" src="./assets/iiitd.jpeg" alt="">
            </div>
        </div>
        </div>


        <div class="row-2">
            <div class="image-block">
                <img src="./assets/forum.jpg" alt="">
              </div>
            <div class="text-block">
                <h1 class="main-title">Discussion forum</h1>
                <p>Are u a fresher? Ask a doubt from your seniors or scroll through many previously answered ones.  <br>
                  Seniors....it's time to pay back, share the gyaan you got from your seniors. <br>
                  Get an idea about real corporate world environment and ask for referrals! <br>
                </p>
                <h4 style="font-size: 1.7rem; padding-top: 1rem;"> Sign In/Up to access the forum</h4>
                <a href="register">
                    <button class="forum-cta btn btn-lg btn-primary">Register</button>
                </a>
                <a href="login">
                    <button class="forum-cta btn btn-lg btn-primary" >Log In </button>
                </a>
            </div>
        </div>



        <div class="row-2">
            <div class="text-block">
                <h1 class="main-title">Placement and internship statistics</h1>
                <p>Have a doubt about the actual placements scenario? <br> Hush! here is some inside information available.</p>
                <p>
                    Please choose city and college:
                </p>
                <div class="sel-row">
                    <div class="sel-1">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi</option>
                            <option value="gamer" disabled>Noida</option>
                            <option value="developer" disabled>Gurgaon</option>
                            <option value="programmer" disabled>Mumbai</option>
                          </select>
                    </div>

                    <div class="sel-2">
                        <select name="select-profession" id="select-profession">
                            <option value="hacker">Delhi Technological University (DTU)</option>
                            <option value="gamer" disabled>Netaji Subhas University of Technology (NSUT)</option>
                          </select>
                    </div>
                  </div>

                  <a href="/placement"><button class="placement-btn btn btn-primary btn-lg" type="submit">Placement</button></a>
                  <a href="/internship"> <button class="internship-btn btn btn-primary btn-lg" type="submit">Internship</button></a>

            </div>
            <div class="image-block">
                <img src="./assets/stats.jpg" alt="">
            </div>

        </div>
    </section>



</main>

<%- include('../partials/footer') %>
