<%- include('../partials/header') %>
    <main>
        <h2  style="font-size: 2.8rem;
        padding: 2rem 0 1.5rem;
        color: #3772FF;" class="internship-title"> DTU Internships (NO. of offers)</h2>
        <section class="chart section">

            <div class="canvas">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <p class="trend-info">
                Looking at the recent trend in internship offers, there has been an increase in the offers. However internship offers in 2021 have plumetted.
            </p>
        </section>

        <hr class="dotted-hr">

        <section  class="company-visiting">
            <h2 class="company-title" style="font-size: 2.8rem;
            padding: 2rem 0 1.5rem;
            color: red;" > Companies Visiting </h2>
            <div class="company-table">
                    <ul class="responsive-table">
                      <li style="color: #3772FF" class="table-header">
                        <div class="col col-1">Company</div>
                        <div class="col col-2">Students Selected</div>
                        <div class="col col-3">Internship Duration</div>
                        <div class="col col-4">Stipend Offered</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Samsung</div>
                        <div class="col col-2" data-label="Customer Name">5</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 50,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Atlassian</div>
                        <div class="col col-2" data-label="Customer Name">8</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 40,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Sprinklr</div>
                        <div class="col col-2" data-label="Customer Name">5</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 75,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Morgan Stanley</div>
                        <div class="col col-2" data-label="Customer Name">10</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 40,000</div>
                      </li>
                    </ul>
            </div>
        </section>

        <!-- <hr class="dotted-hr"> -->

        <!-- <section class="company-types">
            <h2 class="company-title"> Companies By Type</h2>
            <div  class="canvas">
              <canvas id="pieChart" width="200" height="200"></canvas>
            </div>
        </section> -->
    </main>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<script src="js/internship.js"></script>

<%-  include('../partials/footer')%>
