<%- include('../partials/header') %>
    <main>
        <h2 class="internship-title">DTU Internships</h2>
        <section class="chart section">
            
            <div class="canvas">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <p class="trend-info">
                Looking at the recent trend in internship offers, there has been an increase in the offers. However internship offers in 2021 have plumetted.
            </p>
        </section>

        <hr class="dotted-hr">

        <section class="company-visiting">
            <h2 class="company-title">Companies Visiting </h2>
            <div class="company-table">
                    <ul class="responsive-table">
                      <li class="table-header">
                        <div class="col col-1">Company</div>
                        <div class="col col-2">Students Selected</div>
                        <div class="col col-3">Internship Duration</div>
                        <div class="col col-4">Stipend Offered</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Comp.1</div>
                        <div class="col col-2" data-label="Customer Name">5</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 50,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Comp.2</div>
                        <div class="col col-2" data-label="Customer Name">10</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 20,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Comp.3</div>
                        <div class="col col-2" data-label="Customer Name">12</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 5,000</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Comp.4</div>
                        <div class="col col-2" data-label="Customer Name">13</div>
                        <div class="col col-3" data-label="Amount">2 months</div>
                        <div class="col col-4" data-label="Payment Status">Rs. 10,000</div>
                      </li>
                    </ul>
            </div>
        </section>

        <!-- <hr class="dotted-hr"> -->

        <!-- <section class="company-types">
            <h2 class="company-title"> Companies By Type</h2>
            <div  class="canvas">
              <canvas id="pieChart" width="200" height="200"></canvas>
            </div>
        </section> -->
    </main>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<script src="js/internship.js"></script>

<%-  include('../partials/footer')%>
