<%- include('../partials/header') %>
    <main>
        <h2 style="font-size: 2.8rem;
        padding: 2rem 0 1.5rem;
        color: #3772FF;" class="internship-title">DTU placements (CTC > 20LPA)</h2>
        <section class="chart section">

            <div class="canvas">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <p class="trend-info">
                Looking at the recent trend in placement offers, there has been an increase in the offers.
            </p>
        </section>

        <hr class="dotted-hr">

        <section  class="company-visiting">
            <h2 style="font-size: 2.8rem;
            padding: 2rem 0 1.5rem;
            color: red;" class="company-title">Companies Visiting </h2>
            <div class="company-table">
                    <ul class="responsive-table">
                      <li style="color: #3772FF" class="table-header">
                        <div class="col col-1">Company</div>
                        <div class="col col-2">CGPA Required</div>
                        <div class="col col-3">Allowed Branches</div>
                        <div class="col col-4">CTC Offered</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Flipkart</div>
                        <div class="col col-2" data-label="Customer Name">Above 8</div>
                        <div class="col col-3" data-label="Amount">CS/IT/SE/EE/EP</div>
                        <div class="col col-4" data-label="Payment Status">20 LPA</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Microsoft</div>
                        <div class="col col-2" data-label="Customer Name">Above 7</div>
                        <div class="col col-3" data-label="Amount">All branches</div>
                        <div class="col col-4" data-label="Payment Status">20 LPA</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">Goldman Sachs</div>
                        <div class="col col-2" data-label="Customer Name">Above 9</div>
                        <div class="col col-3" data-label="Amount">CS/IT/SE/MCE/ECE</div>
                        <div class="col col-4" data-label="Payment Status">16 LPA</div>
                      </li>
                      <li class="table-row">
                        <div class="col col-1" data-label="Job Id">De-Shaw</div>
                        <div class="col col-2" data-label="Customer Name">Above 6.5</div>
                        <div class="col col-3" data-label="Amount">CS/IT/MCE/SE</div>
                        <div class="col col-4" data-label="Payment Status">22 LPA</div>
                      </li>
                    </ul>
            </div>
        </section>

        <!-- <hr class="dotted-hr">

        <section class="company-types">
            <h2 class="company-title"> Companies By Type</h2>

            <canvas id="pieChart" width="200" height="200"></canvas>
        </section> -->
    </main>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

<script src="js/placement.js"></script>

<%-  include('../partials/footer')%>
