<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="css/bootstrap-btn.css"> -->

</head>

<body>
<body class="llb">
<div class="section-title">
  <h2>Registration Form</h2>
</div>
<div ><div class="container mt-5 ">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="name">Full name</label><br>
                <input type="text" name="name" class="form-control" id="name" required/>
              </div>

              <div class="form-group">
                <label for="contact">Contact Number</label><br>
                <input type="tel" name="contact" class="form-control" id="contact" required />
              </div>

              <div class="form-group">
                <label for="Age">Description (Alumini or Student)</label><br>
                <input type="text" name="description" class="form-control" id="description" required />
              </div>

              <div class="form-group">
                <label for="blood_grp">Occupation/Comapany OR Degree/Batch/Branch</label><br>
                <input type="text" name="occupation" class="form-control" id="occupation" required />
              </div>

              <div class="form-group">
                <label for="email">Email ID</label><br>
                <input type="email" name="username" class="form-control" id="username" required />
              </div>

              <div class="form-group">
                <label for="Password">Password</label><br>
                <input type="text" name="password" class="form-control" id="password" required />
              </div>

              <button type="submit" class="btn btn-dark">Register</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div></div>

<%- include('../partials/footer') %>
